body {
	background-image: url(../img/bg.jpg);
	min-height: 250vh
}
.logo {
	width: 200px;
	border-radius: 100%;
	margin: auto;
	display: block;
	border: 2px solid black;
}
.hypesquad {
	width: 150px;
}
.media-content {
	overflow-y: hidden;
}
.box {
	text-align: center;
	margin: auto;
}
.fas, .fab {
	font-size: 75px;
}